# KNN: Iris Dataset

## Loading Packages

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

# KNN
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import confusion_matrix

## Loading Iris Dataset

In [2]:
iris = load_iris()
iris_df = pd.DataFrame(data=iris.data,
                       columns=iris.feature_names)

iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

## Data Preparation

We split the data into two: train and test set.


#### Training Set

In [3]:
iris_train_df = iris_df.sample(frac = 0.75, random_state=0)
iris_train_y = iris.target[iris_train_df.index]

iris_train_df.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
114                5.8               2.8                5.1               2.4
62                 6.0               2.2                4.0               1.0
33                 5.5               4.2                1.4               0.2
107                7.3               2.9                6.3               1.8
7                  5.0               3.4                1.5               0.2

#### Test Set

In [4]:
iris_test_df = iris_df.drop(iris_train_df.index)
iris_test_y = iris.target[iris_test_df.index]

iris_test_df.head()

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
9                 4.9               3.1                1.5               0.1
14                5.8               4.0                1.2               0.2
19                5.1               3.8                1.5               0.3
21                5.1               3.7                1.5               0.4
25                5.0               3.0                1.6               0.2

## Evaluating the KNN Models

#### Testing from k = 3 to k = 9

Process per test is as follows:
- Create model with k value
- Train model with k value
- Get the accuracy using score method (just input test features and test labels)

In [5]:
best_k = 0
best_k_model = None
best_k_acc = 0

# the range function doesn't include the last value 
# (e.g. range(1,5) only covers 1 to 4)

for k in range(3,10):
    
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(iris_train_df, iris_train_y)
    
    score = knn.score(iris_test_df, iris_test_y)
    print("K = " + str(k))
    print("Accuracy: " + str(score) + "\n")

K = 3
Accuracy: 0.9473684210526315

K = 4
Accuracy: 0.9736842105263158

K = 5
Accuracy: 0.9473684210526315

K = 6
Accuracy: 0.9736842105263158

K = 7
Accuracy: 0.9473684210526315

K = 8
Accuracy: 0.9473684210526315

K = 9
Accuracy: 0.9210526315789473