In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv('scholar.csv')
df

    Sibs  Income  Grade Approve
0      3     0.8    3.0     yes
1      4     3.0    2.0      no
2      5     2.0    3.7     yes
3      2     1.5    3.0      no
4      0     1.2    2.0      no
5      1     3.5    3.0      no
6      2     1.6    3.0     yes
7      1     0.5    3.5     yes
8      2     0.8    2.9      no
9      5     2.3    3.8     yes
10     1     1.0    4.0     NaN
11     0     3.0    4.0     NaN
12     1     1.0    2.5     NaN
13     5     1.0    2.5     NaN

In [3]:
df_train = df.head(10)

X = df_train[['Sibs','Income','Grade']].values
y = df_train['Approve']
df_train

   Sibs  Income  Grade Approve
0     3     0.8    3.0     yes
1     4     3.0    2.0      no
2     5     2.0    3.7     yes
3     2     1.5    3.0      no
4     0     1.2    2.0      no
5     1     3.5    3.0      no
6     2     1.6    3.0     yes
7     1     0.5    3.5     yes
8     2     0.8    2.9      no
9     5     2.3    3.8     yes

In [4]:
df_test = df.tail(4)
samples = df_test[['Sibs','Income','Grade']].values
df_test

    Sibs  Income  Grade Approve
10     1     1.0    4.0     NaN
11     0     3.0    4.0     NaN
12     1     1.0    2.5     NaN
13     5     1.0    2.5     NaN

In [5]:
knn1 = KNeighborsClassifier(n_neighbors=1)
knn1.fit(X, y)
knn3 = KNeighborsClassifier(n_neighbors=3)
knn3.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [6]:
knn1_prediction = knn1.predict(samples)
knn3_prediction = knn3.predict(samples)

In [7]:
df_test_display = df_test.copy()
df_test_display["knn1"] = knn1_prediction
df_test_display["knn3"] = knn3_prediction
df_test_display

    Sibs  Income  Grade Approve knn1 knn3
10     1     1.0    4.0     NaN  yes   no
11     0     3.0    4.0     NaN   no   no
12     1     1.0    2.5     NaN   no   no
13     5     1.0    2.5     NaN  yes  yes